.row-header {
    margin: 0 auto;
    padding: 0;
}

.card {
    margin-bottom: 30px;
}

h1 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

body {
    font-family: "Roboto Mono";
}

.filter-btn {
    background: transparent;
    padding: 0.2rem 0.4rem;
    transition: all 0.3s linear;
    border: 1px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.card-subtitle {
    background: transparent;
    padding: 0.2rem 0.4rem;
    transition: all 0.3s linear;
    border: 1px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin: 0.2rem;
}
